body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.container {
    background: white;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
}

button, input {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.container:hover
{
    /* background-color: white; */
    transform: scale(1.05);
    transition: 0.5s;
}